.filmCardDiv {
  width: 200px;
  height: auto;
  background-color: black;
  margin: 40px 20px;
}

.filmTitle {
  color: white;
  text-align: center;
}

.filmCardPhoto {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filmImage {
  width: 160px;
}

.filmScore {
  color: #ffc700;
  text-align: center;
}

.filmCardTitle,
.filmCardScore {
  width: 100%;
  background-color: #61000c;
  padding: 10px 20px;
  box-sizing: border-box;
}

.filmCardScore {
  background-color: transparent;
}
